[Unit]
Description=Poll IMDS product health every 10 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true
Unit=imdssa-product-monitor.service

[Install]
WantedBy=timers.target
